# SOAL UTS MATAKULIAH KECERDASAN BUATAN

In [27]:
# NAMA  : AHMAD FAUZI
# NIM   : 221011403240 
# KELAS : 05TPLE18
# MATKUL: KECERDASAN BUATAN 
# DOSEN : AGUNG PERDANANTO

In [23]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

# Task 1: List of Companies Sorted by Name in Reverse Order

In [25]:
sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)
print(sorted_companies)

[{'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'}, {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'}, {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'}]

# Task 2: Print Domain and Country for Each Company

In [29]:
for company in company_detail_list:
    print(f"Company {company['name']}: {company['domain']} ({company['country']})")

Company Company 1: Retail (United States)
Company Company 2: Technology (United Kingdom)
Company Company 3: Healthcare (United States)

# Task 3: List Employees by Company Domain

In [30]:
employees_by_domain = {}
for employee in employee_detail_list:
    company = next(c for c in company_detail_list if c['name'] == employee['company'])
    domain = company['domain']
    employees_by_domain.setdefault(domain, []).append(employee['full_name'])

print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

# Task 4: List Employees with Company and Country

In [31]:
# Task 4
def employees_with_company_country():
    result = []
    for employee in employee_detail_list:
        for company in company_detail_list:
            if company["name"] == employee["company"]:
                result.append({
                    "full_name": employee["full_name"],
                    "company": employee["company"],
                    "country": company["country"]
                })
    return result

print(employees_with_company_country())

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

# Task 5: List Companies with Employee Nationality Counts

In [32]:
# Task 5
from collections import Counter

def companies_with_employee_nationalities():
    result = []
    for company in company_detail_list:
        employee_nationality = [
            employee["nationality"]
            for employee in employee_detail_list
            if employee["company"] == company["name"]
        ]
        nationality_count = dict(Counter(employee_nationality))
        result.append({
            "company": company["name"],
            "employee_nationality": nationality_count
        })
    return result

print(companies_with_employee_nationalities())

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]